*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    filter:brightness(70%)
}